body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#logo {
    width: 30rem;
    max-width: 100%;
}

#content {
    width: 30rem;
}

#buttons {
    filter: drop-shadow(0 0.45rem 0.4rem var(--shadow-color));
}

#repo-link {
    display: flex;
    gap: 0.4rem;
    margin-top: 2rem;
    transition: color 300ms;
}

#repo-link:hover {
    color: var(--contrast-color)
}

#repo-link > img {
    margin-top: -0.3rem;
    width: 1.5rem;
}

.button, a {
    /* prohibit browser-default-highlighting when elements being clicked */
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;

    color: var(--text-color);
    text-decoration: none;
}

.button {
    min-width: 14rem;
    max-width: max-content;
    height: 3rem;
    margin: 0.7rem;
    display: flex;
}

.button:hover::before {
    background-color: var(--highlight-color);
}

.button::before {
    content: "";
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--base-color);
    margin-right: -1px;
    clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 100%
    );
    transition: background-color 300ms;
}

.button:hover::before {
    background-color: var(--highlight-color);
}

.button::after {
    content: "";
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--base-color);
    margin-left: -1px;
    clip-path: polygon(
            0% 0%,
            100% 0%,
            0% 100%
    );
    transition: background-color 300ms;
}

.button:hover::after {
    background-color: var(--highlight-color);
}

.button > * {
    width: 100%;
    height: 100%;
    background-color: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms;
}

.button:hover > * {
    background-color: var(--highlight-color);
}

.button img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.6rem;
}