@font-face {
    font-family: Megrim;
    src: url("./assets/fonts/Megrim/Megrim-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat Black";
    src: url("./assets/fonts/Montserrat/Montserrat-Black.ttf");
}

:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Colors */
    --base-color: #1F1930;
    --highlight-color: #28203D;
    --contrast-color: #69C6E8;
    --text-color: #F2F2F2;
    --shadow-color: rgba(0, 0, 0, 0.3);

    /* Font sizes */
    --headline-font-size: 2.3rem;
    --subheadline-font-size: 1.4rem;
    --body-font-size: 1rem;
    --hint-font-size: 0.8rem;

    /* Font families */
    --brand-font-family: Megrim, Montserrat, sans-serif;
    --headline-font-family: "Montserrat Black", sans-serif;
    --subheadline-font-family: "Montserrat Medium", sans-serif;
    --sub-brand-font-family: "Montserrat SemiBold", sans-serif;
    --body-font-family: Montserrat, sans-serif;

    /* Fonts */
    --headline-font: var(--headline-font-size) var(--headline-font-family);
    --subheadline-font: var(--subheadline-font-size) var(--subheadline-font-family);
    --body-font: var(--body-font-size) var(--body-font-family);
    --hint-font: var(--hint-font-size) var(--body-font-family);

    font-family: Montserrat, sans-serif;
    color: var(--text-color);

    /* UHD+ (3840px and higher)*/
    font-size: 38px;
}

/* QHD, WQHD */
@media screen and (max-device-width: 3839px) {
    :root {
        font-size: 25px;
    }
}

/* FHD, WFHD */
@media screen and (max-device-width: 2559px) {
    :root {
        font-size: 19px;
    }
}

/* HD */
@media screen and (max-device-width: 1919px) {
    :root {
        font-size: 13px;
    }
}

/* Tablet */
@media screen and (max-device-width: 1000px) and (orientation: portrait) {
    :root {
        font-size: 17px;
    }
}

@media screen and (max-device-height: 1000px) and (orientation: landscape) {
    :root {
        font-size: 17px;
    }
}

/* Mobile */
@media screen and (max-device-width: 500px) and (orientation: portrait) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-device-height: 500px) and (orientation: landscape) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-device-width: 300px) and (orientation: portrait) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-device-height: 300px) and (orientation: landscape) {
    :root {
        font-size: 12px;
    }
}

body {
    margin: 0;
    background: var(--base-color) url("./assets/images/background.jpg") center/cover no-repeat;
}

h1 {
    text-align: center;
    font: var(--headline-font);
    text-transform: uppercase;
    position: relative;
}

h2 {
    font: var(--subheadline-font);
    text-transform: uppercase;
    position: relative;
    margin: 0;
}

p {
    font: var(--body-font);
    position: relative;
    margin: 0;
}

h3 {
    font: var(--hint-font);
    position: relative;
    margin: 0;
}

a {
    font: var(--body-font-size) var(--subheadline-font-family);
    color: var(--contrast-color);
    text-decoration: none;
    position: relative;
    margin: 0;
    transition: text-decoration;
}

a:hover {
    text-decoration: underline;
}

img {
    -webkit-user-select: none; /* Safari */
    user-select: none;
}