@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:wght@400;500;900&display=swap');

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    font-family: Montserrat, sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: var(--text-color);

    --base-color: #1F1930;
    --highlight-color: #28203D;
    --contrast-color: #69C6E8;
    --text-color: #F2F2F2;
}

body {
    margin: 0;
}