@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:wght@400;500;900&display=swap');

:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Colors */
    --base-color: #1F1930;
    --highlight-color: #28203D;
    --contrast-color: #69C6E8;
    --text-color: #F2F2F2;
    --shadow-color: rgba(0, 0, 0, 0.3);

    /* Font sizes */
    --headline-font-size: 2.3rem;
    --subheadline-font-size: 1.3rem;
    --body-font-size: 1rem;

    /* Font families */
    --brand-font-family: Megrim, Montserrat, sans-serif;
    --headline-font-family: "Montserrat Black", sans-serif;
    --subheadline-font-family: "Montserrat Medium", sans-serif;
    --body-font-family: Montserrat, sans-serif;

    /* Fonts */
    --headline-font: var(--headline-font-size) var(--headline-font-family);
    --subheadline-font: var(--subheadline-font-size) var(--subheadline-font-family);
    --body-font: var(--body-font-size) var(--body-font-family);

    font-family: Montserrat, sans-serif;
    color: var(--text-color);
    font-size: 43px;
}

@media screen and (max-device-width: 2560px) {
    :root {
        font-size: 27px;
    }
}

@media screen and (max-device-width: 1920px) {
    :root {
        font-size: 20px;
    }
}

@media screen and (max-device-width: 1366px) {
    :root {
        font-size: 14px;
    }
}

body {
    margin: 0;
    background: var(--base-color) url("./assets/background.jpg") center -78rem/100% no-repeat scroll;
}

h1 {
    text-align: center;
    font: var(--headline-font);
    position: relative;
}

h2 {
    font: var(--subheadline-font);
    position: relative;
}

p {
    font: var(--body-font);
    position: relative;
}